#chatbot-icon {
    position: fixed;
    bottom: 70px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
}


.Chatbot {
    border: 3px solid #c0bfbf;
    border-radius: 10px;
    margin: 50px auto;
    overflow: hidden;
    width: 500px;
    overflow-y: scroll;
    height: 60%;
    background: rgb(255, 255, 255) url(gfg-gg-logo.svg);
    background-size: contain;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    bottom: 80px;
    right: 20px; 
}

header {
    background-color: rgb(235, 82, 26);
    text-align: center;
    padding: 5px;
    border-radius: 7px 7px 0 0;
}

header h2 {
    color: white;
    margin: 0;
}

.chatbox {
    padding: 15px;
    flex: 1;
    overflow-y: auto;
}

.chatbox li {
    background-color: #ccc;
    width: fit-content;
    border-radius: 7px;
}

.chat p {
    padding: 0px;
    border-radius: 10px;
    max-width: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chat-input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #f9f9f9;
    display: flex;
    gap: 10px; 
}

.chat-input textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 7px;
    resize: none;
    outline: none;
    background-color: #dcdcdc85;
    font-size: 16px;
    color: rgb(0, 0, 0);
    height: 40px;
    flex: 1;

    
}