* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
    
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0; 
}


.sidebar {
    position: fixed; 
    width: 250px;
    height: 100%; 
    background-color: #f5f5f5;
    padding: 20px;
    text-align: left;
    border-right: 1px solid #e0e0e0;
    overflow-y: auto;
}

.sidebar h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
}

.sidebar nav ul {
    list-style-type: none;
}

.sidebar nav ul li {
    margin-bottom: 20px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px solid transparent;
    transition: all 0.9s ease;
}

/* GitHub Button */
.github-btn {
  margin-top: auto; 
  text-align: center;
  
}

.github-btn .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  animation: colorChange 6s infinite;
  transition: background-color 0.6s ease;
}

@keyframes colorChange {
  0% {
      background-color: orangered; 
  }
  25% {
      background-color: rgb(0, 0, 0); 
  }
  50% {
      background-color: orangered;
  }
  75% {
      background-color: rgb(0, 0, 0); 
  }
  100% {
      background-color: orangered; 
  }
}

.fa-solid {
    color: orangered;
}

.sidebar nav ul li a:hover {
    border-bottom: 3px solid orangered;
}

.orange-text{
    color: orangered;
}

.name-text {
    margin: 10px 15px;
    font-size: 40PX;
}

/*Main Content*/

.main-content {
  flex: 1; 
  margin-left: 300px;
  padding: 50px;
  background-color: #fff;
}


.profile-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.profile-img {

    object-fit: cover;
    border-radius: 5%;
    border: 2px solid orangered;
}

.text-content h2 {
    font-size: 64px;
    font-weight: bold;
}

.text-content p {
    font-size: 18px;
    color: gray;
    margin-top: 10px;
}
.roles-content {
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-top: 50px;
}

.roles-content:hover{
    color: orangered;
}

.container{
    display: flex;
    justify-content:space-between;

}

.button {
    border: 2px solid ;
    color: white;
    background-color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 15px;
  }

  .button:hover{
    background-color: orangered;
    color: black;
  }

 .button2{
    background-color: orangered;
 }

 .button2:hover{
    color: white;
    background-color: black;
 }

 .button1{
    background-color: black;
 }

 .button1:hover{
    color: white;
    background-color: orangered;
 }

 .button-container{
    padding: 60px;
    margin: 10px 5px;
    text-align: left;
 }


 .About-section {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 10vh; 
    color: rgb(0, 0, 0);    
}

.About-Heading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    margin-top: 100px;
    color: orangered;
    border-bottom:solid black;   
  }

  .About-Heading:hover{
    color: black;
    border-bottom: solid orangered;
  }
  
.about-paragraph {
    text-align: center;
    display: block;
    margin-top: 90px;
}

.education-heading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
    color: orangered;
    border-bottom:solid #000000;

}

.education-heading:hover{
  color: black;
  border-bottom: solid orangered;
}

.qualification{
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;   
}

.flex-container{
    display: flex;
    justify-content: space-between;
}

.experience-container{
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 50px;
}

.experience-heading{
  color: #606060;
  font-size: 16px ;
}


.grey-heading{
    color: #606060;

}

/*Certifications*/

.certifications-heading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
    color: orangered;
    border-bottom:solid #000000;
}

.certifications-heading:hover{
  color: black;
  border-bottom:solid orangered;
}

.certificate-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
  }

/*Certifications cards*/

  .card {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -14px 11px 10px 3px rgba(199, 12, 12, 0.1);
    width: 250px;
    text-align: center;
    transition: transform 0.9s ease-in-out; 
  }
  
  .card h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 14px;
    color: #666;
  }

  .flip-card h1{
    font-family: 'Arial', sans-serif;
    font-size: 25px;
  }

  .flip-card-back p{
    font-family: 'Arial', sans-serif;
    font-size: 15px;
  }
  
  .flip-card {
    width: 250px;
    height: 150px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.9s;
    transform-style: preserve-3d; 
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg); 
  }
  
  .card, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    border-radius: 10px;
  }
  
  .flip-card-back {
    background-color: rgba(255, 68, 0, 0.815);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    padding: 20px;
  }
  

/*Skills*/

  .skills-heading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
    color: orangered;
    border-bottom:solid black;
  }

  .skills-heading:hover{
    color: black;
    border-bottom:solid orangered;
  }
  

  .skills-container {
    width: 60%;
    background-color: #ddd;
    margin-left: 20%;
    border-radius: 8px;
  }
  
  .skills {
    text-align: right;
    padding-top: 0px;
    padding-bottom: 1px;
    color: white;
    border-radius: 8px;
  }
  

  .html{
    width: 80%;
    background-color: orangered;
  }

  .css{
    width: 80%;
    background-color: orangered;
  }

  .js{
    width: 50%;
    background-color: orangered;
  }

  .data{
    width: 70%;
    background-color: orangered;
  }

  .business{
    width: 75%;
    background-color: orangered;
  }
  
  .skills-name{
    width: 70%;
    margin-left: 20%;
    padding: 7px;
}

/*Form*/

.contact-info {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  background-color: #f3f0f0b9;
}

.info-item {
  text-align: center;
  font-size: 14px;
  color: #333;
}

.info-item i {
  font-size: 30px;
  color: orangered;
  margin-bottom: 10px;
}

.info-item i:hover{
  color: #000000;
}


.info-item a{
  text-decoration: none;
  color: inherit;
}

.info-item a:hover{
  color: rgb(146, 144, 143);
}

.info-item p {
  margin: 0;
}


.contact-form-section {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  max-width: 1200px;
  margin: auto;
}

.form-container {
  width: 50%;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.form-group textarea {
  width: 100%;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
}

input:focus,
textarea:focus {
  border-color: orangered;
  outline: none;
}

.button-submit {
  padding: 12px;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 40px;
}

.button-submit:hover {
  background-color: #000000;
}

.image-container {
  width: 30%;
  margin-left: 30px;
}

.image-container > img {
  max-width: 100%;
  border-radius: 10px;
  object-fit: cover;
}


/* Footer  */
footer {
  background-color: rgb(134, 130, 130);
  color: #fff; 
  text-align: center;
  padding: 5px 0;
  width: 100%;
  margin-bottom: 0;
}

.social-icons {
  margin-bottom: 2px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  color: #fff; 
  font-size: 1.5em;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: rgb(255, 166, 134); 
}



.footer-links {
  margin-bottom: 20px;
}

.footer-links a {
  margin: 0 15px;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  transition: color 0.3s ease;
  justify-content: flex-start;
  text-align: center;
}

.footer-links a:hover {
  color: orangered; 
}

.footer-bottom {
  font-size: 0.9em;
  padding-top: 1px;
  text-align: center;
}

.footer-bottom p {
  margin: 10;
  color: #ccc;
}
